@using BockingAppStore.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "Книжный Магазин";
}

<div>
    <h3>
        Распродажа книг
    </h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach(Book b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>

<h2>@ViewData["Head"]</h2>
<h2>@ViewBag.Head1</h2>
<ul>
    @foreach (string s in ViewBag.Fruit)
    {
        <li>@s</li>
    }
</ul>